:host {
  min-height: 100vh;
}

.container-main {
  /* padding-top: 0 !important; */
  min-height: max-content;
  padding-bottom: 3em;
  background-color: #f1f1f1;
}

.navbar-collapse {
  @media (max-width: 991px) {
    transition: 0.35s ease;
    &.show {
      padding-bottom: 1.4em;
    }
    .navbar-nav {
      margin-inline: 0 !important;
    }
    .nav-item {
      text-align: center;
    }
    form {
      margin-top: 2em;
      justify-content: center;
    }
  }
}

.link-active {
  color: #ffffff;
}

.noise_noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  &::after {
    position: absolute;
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    animation: noise_noise 1000ms steps(2) infinite;
    background-image: url('/assets/images/noise.png');
    background-position: 50%;
    content: "";
    will-change: transform;
  }
}

@keyframes noise_noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
      transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
      transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
      transform: translate3d(9rem, -9rem, 0);
  }
  40% {
      transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
      transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
      transform: translate3d(2rem, 6rem, 0);
  }
  70% {
      transform: translate3d(7rem, -8rem, 0);
  }
  80% {
      transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
      transform: translate3d(6rem, -5rem, 0);
  }
  100% {
      transform: translate3d(-7rem, 0, 0);
  }
}