<app-qr-button></app-qr-button>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container nav-container d-flex justify-content-between">
    <a class="navbar-brand" routerLink="home">
      <img src="/assets/images/pie-chart-vector.svg" alt="App Logo" width="40"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mx-3">
        <li class="nav-item active">
          <a (click)="closeNavbar()" class="nav-link" routerLink="/home" routerLinkActive="link-active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
          (click)="closeNavbar()"
            class="nav-link"
            routerLink="/dashboard"
            routerLinkActive="link-active"
          >
            Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" routerLink="/qr" routerLinkActive="link-active"
            >Scan QR</a
          >
        </li>
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" routerLink="/new" routerLinkActive="link-active"
            >Create new</a
          >
        </li>
        
        <li class="nav-item">
          <a (click)="closeNavbar()" class="nav-link" routerLink="/bills" routerLinkActive="link-active"
            >Scanned Bills</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" (click)="logOut()">Logout</button>
      </form>
    </div>
  </div>
</nav>
<div class="container-main pt-4">
  <router-outlet />
</div>
<footer class="bg-dark">
  <div class="text-md-start justify-content-between py-4 px-4 px-xl-5">
    <div class="text-white text-center mb-md-0 container">
      Copyright ©Mojas Simunovic 2025. All rights reserved.
    </div>
  </div>
</footer>
