:host {
  text-align: center;
  /* min-height: max-content; */
  min-height: 100svh;
}

h1 {
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}
.lead {
  font-weight: 500;
}

a {
  cursor: pointer;
}

.jumbotron {
  background-image: url('/assets/images/backgroundHome2.avif');
  background-position: 50% 99%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  min-height: 55em;
  .container {
    min-height: 50em;
    color: #f1f1f1;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }
  @media(max-width: 980px) {
    height: 100dvh;
    /* min-height: 55em; */
    .container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-end;
      gap: 4em;
      h1,p {
        text-align: center;
      }
    }
    .chart-container {
      width: 100%;
    }
  }
}

.animation-container img {
  width: 100%;
  height: auto;
  animation: move-phone 1500ms steps(10) infinite;
  @media (max-width: 981px) {
    width: 30%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 520px;
  @media (min-width:981px) {
    width: 44%;
  } 
}

.animation-container {
  position: relative;
  @media (min-width:981px) {
    width: 33%;
  } 
  @media (max-width: 980.5px) {
    position: relative;
  }
}

.shadow {
  background-color: #1c1f58;
  filter: blur(2px);
  border-radius: 100%;
  width: 60%;
  height: 20px;
  position: absolute;
  inset: auto 10% -20px 10%;
  bottom: 5.5em;
  animation: shadow 1500ms infinite;
  transform-style: preserve-3d;
  will-change: transform,opacity;
  @media(max-width:980.5px) {
    inset: auto 10% -20px 5%;
    margin-inline: auto;
    bottom: -1em;
    width: 20%;
  }
}

.login-container {
  position: relative;
  h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-weight: 500;z-index: 4;
  }

  /* img {
    animation: rotate 45s infinite;
  } */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.container-main {
  min-height: 85svh;
  padding-bottom: 3em;
  background-color: #f1f1f1;
}

.navbar-brand img {
  height: 2em;
}

.navbar-collapse {
  @media (max-width: 991px) {
    transition: 0.35s ease;
    .navbar-nav {
      margin-inline: 0 !important;
    }
    .nav-item {
      text-align: center;
    }
    form {
      margin-top: 2em;
      justify-content: center;
    }
  }
}

.link-active {
  color: #ffffff;
}

@keyframes shadow {
  0% {
    opacity: 0.19;
    transform: translate3d(0px, 0px, 0px) scale3d(0.977526, 0.977526, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  10% {
    opacity: 0.17;
    transform: translate3d(0px, 0px, 0px) scale3d(0.947526, 0.947526, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
   
  }
  20% {
    opacity: 0.12;
    transform: translate3d(0px, 0px, 0px) scale3d(0.900, 0.900, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
    
  }
  30% {
    opacity: 0.1;
    transform: translate3d(0px, 0px, 0px) scale3d(0.860, 0.860, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  40% {
    opacity: 0.07;
    transform: translate3d(0px, 0px, 0px) scale3d(0.860, 0.860, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
    
  }
  50% {
    opacity: 0.05;
    transform: translate3d(0px, 0px, 0px) scale3d(0.802, 0.802, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  60% {
    opacity: 0.07;
    transform: translate3d(0px, 0px, 0px) scale3d(0.860, 0.860, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  70% {
    opacity: 0.1;
    transform: translate3d(0px, 0px, 0px) scale3d(0.860, 0.860, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  80% {
    opacity: 0.12;
    transform: translate3d(0px, 0px, 0px) scale3d(0.900, 0.900, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  90% {
    opacity: 0.17;
    transform: translate3d(0px, 0px, 0px) scale3d(0.947526, 0.947526, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
  100% {
    opacity: 0.19;
    transform: translate3d(0px, 0px, 0px) scale3d(0.977526, 0.977526, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)
  }
}


@keyframes move-phone {
  0% {
    transform: translate3d(0px, -0.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  10% {
    transform: translate3d(0px, -3.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  20% {
    transform: translate3d(0px, -5.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  30% {
    transform: translate3d(0px, -7.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  40% {
    transform: translate3d(0px, -9.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -10.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  60% {
    transform: translate3d(0px, -7.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  70% {
    transform: translate3d(0px, -5.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  80% {
    transform: translate3d(0px, -3.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  90% {
    transform: translate3d(0px, -2.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, -0.5454px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}