:host {
  text-align: center;
  /* min-height: max-content; */
  min-height: 100svh;
}

h1 {
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5em;
}
.lead {
  font-weight: 500;
}

a {
  cursor: pointer;
}

.container-main {
  min-height: 85svh;
  padding-bottom: 3em;
  background-color: #f1f1f1;
}

.navbar-brand img {
  height: 2em;
}

.navbar-collapse {
  @media (max-width: 991px) {
    transition: 0.35s ease;
    .navbar-nav {
      margin-inline: 0 !important;
    }
    .nav-item {
      text-align: center;
    }
    form {
      margin-top: 2em;
      justify-content: center;
    }
  }
}

.link-active {
  color: #ffffff;
}

