<div class="container">
  <h1 class="text-center">QR Scanner</h1>
  @if(isLoader === true) {
    <div class="col-12 text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  }
  <zxing-scanner
    (camerasFound)="onScannerInitialized()"
    (click)="forceRefocus()"
    [device]="selectedDevice"
    (scanSuccess)="onScanSuccess($event)"
  >
  </zxing-scanner>

	<ng-template #successTpl> Scan Successful </ng-template>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>
