form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 3px 4px 8px lightgrey;
  @media(max-width:600px) {
    padding-bottom: 4em;
    box-shadow: -1px 4px 8px #0000009c;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.5em;
  flex: 1 1 auto;
}

label {
  text-align: left;
  margin-bottom: 0.5em;
}

input,
select {
  border-radius: 8px;
  padding: 1em;
  border: 0.5px solid lightblue;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-row {
  display: flex;
  gap: 2em;
  flex: 1 1 auto;
  @media(max-width:520px) {
    flex-direction: column;
    gap: 0;
  }
}

button {
  border-radius: 12px !important;
}

button:not(:disabled) {
  color: #111111 !important;
}

button .mdc-button__label {
  color: #111111 !important;
}

.text-danger {
  margin-top: 0.5em;
  color: red;
  font-size: 0.85em;
  text-align: center;
}

.checkbox {
  margin-top: -0.1em;
  padding: 0.6em;
  cursor: pointer;
  &+label {
    cursor: pointer;
  }
}
