.login-container {
  position: relative;
  h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-weight: 500;z-index: 4;
  }
  img {
    animation: rotate 45s infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
