:host {
  width: 100%;
  grid-template-columns:repeat(2, 1fr);
  display: grid;
  place-items: center;
  gap: 1.5em;

  .chart-item:nth-child(2){
    animation-range: 25vh 60vh;
  }
}
.chart-item {
  min-width: 100%;
  animation: charts ease-in-out both;
  animation-timeline: view();
  animation-range: 15vh 50vh;
  animation-duration: 1ms;
}

.echart-container {
  min-height: max-content;
  display: flex !important;
  width: 100%; /* Make the container take full width */
  height: 100%; /* Make the container take full height */
  margin: 0 auto; /* Center the container */
  overflow: hidden; /* Hide any overflowing content */
  @media (min-width:1200px) {
    min-height: 600px !important;
  }
}

@keyframes charts {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }
  50% {
    opacity: 0.25;
  }
}

