<section class="hero-banner">
  <div class="jumbotron jumbotron-fluid py-5">
    <div class="container">
      <div class="content">
        <h1 class="display-2">SmartTrack</h1>
        <p class="lead">Effortlessly track expenses and store your important bills.</p>
        <button button class="btn btn-outline-light btn-login" data-bs-toggle="modal" data-bs-target="#authModal">Login/Register</button>
      </div>
      <div class="animation-container">
        <img src="/assets/images/smartTrackerphone(1).png" alt="">
        <div class="shadow"></div>
      </div>
    </div>
  </div>
</section>