<div class="wrapper">
  <nav class="nav-list">
    <a
      routerLink="/"
      routerLinkActive="link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>home</mat-icon>
    </a>
    <a
      routerLink="dashboard"
      routerLinkActive="link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>list</mat-icon>
    </a>
    <a
      routerLink="new"
      routerLinkActive="link-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>note_add</mat-icon>
    </a>
  </nav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
