<nav class="navbar navbar-expand-lg">
  <div class="container nav-container d-flex justify-content-between">
    <div class="logo" routerLink="home">
      <div class="logo-icon">S</div>
        SmartTrack
      </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav mx-3">
        @if(userSignal()) {
          <li class="nav-item active">
            <a (click)="closeNavbar()" class="nav-link" routerLink="/home" routerLinkActive="link-active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
            (click)="closeNavbar()"
              class="nav-link"
              routerLink="/dashboard"
              routerLinkActive="link-active"
            >
              Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a (click)="closeNavbar()" class="nav-link" routerLink="/qr" routerLinkActive="link-active"
              >Scan QR</a
            >
          </li>
          <li class="nav-item">
            <a (click)="closeNavbar()" class="nav-link" routerLink="/new" routerLinkActive="link-active"
              >Create new</a
            >
          </li>
          
          <li class="nav-item">
            <a (click)="closeNavbar()" class="nav-link" routerLink="/bills" routerLinkActive="link-active"
              >Scanned Bills</a
            >
          </li>
        }
      </ul>
      <form class="d-flex">
        @if(userSignal()) {
        <button class="btn btn-primary" (click)="logOut()">Logout</button>
        } @else {
          <button type="button" class="login-btn" data-bs-toggle="modal" data-bs-target="#authModal">Login/Register</button>
        }
      </form>
    </div>
  </div>
</nav>
<main class="container-main">
  <router-outlet />
</main>

<footer class="">
  <div class="text-md-start justify-content-between py-4 px-4 px-xl-5">
    <div class="text-white text-center mb-md-0 container">
      Copyright ©Mojas Simunovic 2025. All rights reserved.
    </div>
  </div>
</footer>