<div class="container">
  <h1>Expense tracker app</h1>

  <div class="home-btns">
    <a routerLink="/qr">
      <mat-icon>qr_code_2</mat-icon>
      <h2>Scan bill QR <br />code</h2>
    </a>
    <a routerLink="/new">
      <mat-icon>create</mat-icon>
      <h2>Create a new expense</h2>
    </a>
    <a routerLink="/dashboard">
      <mat-icon> list_alt</mat-icon>
      <h2>See dashboard with expenses</h2>
    </a>
  </div>
  <h3 class="mt-5 text-center">Current month expenses breakdown:</h3>
  <p class="text-center">
    Total expenses: <strong>{{ totalAmount() }}</strong>
  </p>
  <echarts [options]="pieChartOptions" class="chart-container"></echarts>
</div>
