<div class="jumbotron jumbotron-fluid py-5 mb-5">
  <div class="noise_noise">
  
  </div>
  <div class="container">
    <div class="content">
      <h1 class="display-2">Expense tracker</h1>
      <p class="lead">App to help you track your expenses and save your important bills for warranty.</p>
    </div>
    <div class="chart-container">
      <app-chart></app-chart>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="home-btns">
    <a routerLink="/qr">
      <mat-icon>qr_code_2</mat-icon>
      <h2>Scan bill QR <br />code</h2>
    </a>
    <a routerLink="/new">
      <mat-icon>create</mat-icon>
      <h2>Create a new expense</h2>
    </a>
    <a routerLink="/dashboard">
      <mat-icon> list_alt</mat-icon>
      <h2>See dashboard with expenses</h2>
    </a>
  </div>
</div>
