h1,
.search-div {
  animation: fadeInSide 0.6s forwards;
}

.table-responsive {
  animation: fadeInUp 0.7s forwards;
}

table {
  box-shadow: 4px 2px 8px lightgray;
  td {
    vertical-align: middle;
  }
}

.table-dark {
  box-shadow: 4px 2px 8px #383737;
}

.search-div {
  display: flex;
  align-items: center;
  h5 {
    margin-right: 1em;
    margin-bottom: 0;
  }
  input {
    max-width: fit-content;
  }
}

.link-external {
  display: flex;
  align-items: center;
  width: max-content;
  padding-inline: 1em 2em;
  mat-icon {
    margin-right: 0.35em;
  }
}

table {
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
      a {
        background-color: #41cf8d;
        border: #41cf8d;
        margin-inline: auto;
      }
    }
  }
}

.vendor-td {
  min-width: 65ch;
}
