 /* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
}
:root {
  min-height: max-content;
}

h1 {
  margin-bottom: 1.5em;
}

h2 {
  margin-bottom: 2em;
}

.wrapper {
  height: 100%;
  display: flex;
  min-height: max-content;
}

.content-container {
  padding: 2em;
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
  min-height: fit-content;
}

.sr-only {
  display: block;
  border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}
