table {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 4px 2px 8px lightgray;
  border-radius: 12px;
}

td {
  vertical-align: baseline;
}

h5 {
  margin: 2em;
}

h5 select {
  border: 0;
  text-align: center;
  padding-right: 1em;
  cursor: pointer;
  border-bottom: 1px solid #111111;
}

h5 select:focus {
  outline: none;
  border: 0;
}
