table {
  max-width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 4px 2px 8px lightgray;
  border-radius: 20px;
}

.search-div {
  display: flex;
  align-items: center;
}

.dashboard-filters {
  display: flex;
  gap: 5em;
}

.dashboard-filter {
  display: flex;
  align-items: center;
}

input {
  max-width: 12em;
}

td {
  vertical-align: middle;
}

h5 {
  margin-block: 2em;
  white-space: nowrap;
  margin-right: 1em;
  cursor: pointer;
}

select {
  cursor: pointer;
}
